<ion-view view-title="Search">
  <ion-content>
    <h1>Search</h1>

    <div ng-controller="AppCtrl">
      <form ng-submit="search()">
        <div class="list list-inset">
          <label class="item item-input">
            <input type="text" placeholder="Stock" ng-model="symbol">
          </label>
          <button type="submit" class="button button-block button-positive">Search</button>
        </div>
      </form>
      <div class="ibox-content">

        <label class="item item-input">
          <span class="input-label">Book Price Multiplier</span>
          <input type="number"  ng-model="bpm">
        </label>

        <label class="item item-input">
          <span class="input-label">Book Value per Share</span>
          <input type="number"  ng-model="bvps">
        </label>
        <label class="item item-input">
          <span class="input-label">Earnings Multiplier</span>
          <input type="number"  ng-model="em">
        </label>

        <label class="item item-input">
          <span class="input-label">Earnings Per Share</span>
          <input type="number"  ng-model="eps">
        </label>

        <label class="item item-input">
          <span class="input-label">Price Per Share</span>
          <input type="number"  ng-model="pps">
        </label>
        <button type="submit" ng-click="calcGraham()" class="button button-block button-positive">Calculate</button>
      </div>

      <div class="ibox-content">
        <label class="item item-input">
          <span class="input-label">Graham Number</span>
          <input type="number"  ng-model="gn">
        </label>

        <label class="item item-input">
          <span class="input-label" >Valuation</span>
          <input type="number"  ng-style="{'color: red': valuation >= 0, 'color: green': valuation < 0}" ng-model="valuation">
        </label>
      </div>


    </div>
    <!--ng-submit="createTask()"ng-model="task.title"  -->

  </ion-content>
</ion-view>
